/*
 ** Common - Icons
 ** -----------------------------------------------------------------------------*/

@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
       url('../fonts/iconfont.woff') format('woff'),
       url('../fonts/iconfont.woff2') format('woff2'),
       url('../fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.icon {
  display: inline-block;
  font-family: 'iconfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: top;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--arrow-right::before {
  content: '\EA01';
}

.icon--arrow-thin-left::before {
  content: '\EA02';
}

.icon--arrow-thin-right::before {
  content: '\EA03';
}

.icon--close::before {
  content: '\EA04';
}

.icon--menu::before {
  content: '\EA05';
}

.icon--minus::before {
  content: '\EA06';
}

.icon--next::before {
  content: '\EA07';
}

.icon--plus::before {
  content: '\EA08';
}

.icon--wheel::before {
  content: '\EA09';
}
