<header class="deco-shadow space--inner-top-xxs space--inner-bottom-xxs">
  <div class="container container--flex">
    <img src="{{ asset('dist/images/logo.png') }}" alt="The Gallery App Logo"/>
    <h1 class="type type--title type--gray space--outer-left-xxs type--300">The Gallery App</h1>
  </div>
</header>
