<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}The Gallery App{% endblock %}</title>
  {% if app.environment == 'dev' %}
    <link href="{{ asset('dist/styles/main.css') }}" type="text/css" rel="stylesheet"/>
  {% else %}
    <link href="{{ asset('dist/styles/main.min.css') }}" type="text/css" rel="stylesheet"/>
  {% endif %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
