{% extends 'components/base.html.twig' %}

{% block content %}
    <section class="section">
        <div class="container">
            <div id="app"></div>
        </div>
    </section>
{% endblock %}
