.image {
  margin-bottom: $separator-sm;
  transition: transform 0.3s ease-in-out, opacity 0.3s linear;
  opacity: 0;

  &:nth-of-type(2n) {
    transform: translate(-100vw, 0);
  }

  &:nth-of-type(2n+1) {
    transform: translate(0, -100vh);
  }

  .animate-image & {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.image__media {
  height: 200px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.image__title {
  @extend .type;
  @extend .type--text-sm;

  text-align: center;
  max-height: $separator-xs;
  overflow: hidden;
  margin-top: $separator-xxxs;
}
