.image {
  margin-bottom: $separator-sm;
}

.image__media {
  height: 200px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.image__title {
  @extend .type;
  @extend .type--text-sm;

  text-align: center;
  max-height: $separator-xs;
  overflow: hidden;
  margin-top: $separator-xxxs;
}
