.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s linear;

  &--open {
    opacity: 1;
    visibility: visible;
  }
}

.modal__close {
  position: absolute;
  top: 19px;
  right: 20px;
  color: $color-gray;
  transition: opacity 0.2s linear;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.modal__body {
  margin: 10% auto;
  max-width: 500px;
  width: 100%;
  overflow: hidden;
  border-radius: $border-radius-base;

  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.18);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.18);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.18);

  &--big {
    max-width: 500px;
  }
}

.modal__container {
  padding: $separator-md;
  background-color: $color-white;
  position: relative;
}

.modal__header {
  font-size: 40px;
  color: $color-black;
  font-weight: 500;
  letter-spacing: -2.25px;
}
